<?xml version="1.0" encoding="UTF-8"?>
http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>label</key>
        <string>run_server.as_deamon</string>

        <key>ProgramArguments</key>
        <array>
                <string>python3 manage.py runserver 8080</string>
        </array>

        <key>WorkingDirectory</key>
        <string>/</string>
        
        <key>LaunchOnlyOnce</key>
        <true/> 

        <key>StandardErrorPath</key>
        <string>/tmp/userAPI.err</string>

        <key>StandardOutPath</key>
        <string>/tmp/userAPI.out</string>
</dict>
</plist>